mark {
  background-color: dimgrey;
}

.reveal pre {
  width: 100%;
  font-size: 0.45em;
}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:48%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:48%;
}
